@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

html,
body,
ul{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  position: relative;
}

body{
  font-family: 'Arimo', sans-serif;
}

a,
a:visited,
a:hover,
a:link,
a:active{
  text-decoration: none;
  color: #333333;
}

#navbar{
  background-color: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  header {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    width: 100%;
    span{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
    .navbar-toggler {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 1rem;
      align-content: flex-end;

      span {
        display: block;
        border: 1px solid black;
        margin: 5px;
        width: 20px;
        transition: all 0.3s;
      }
    }
  }
  ul{
    list-style: none;
    position: absolute;
    background-color: #f0f0f0;
    left: 900px;
    width: 100vw;
    transition: all 0.3s;
    li{
      &:first-child{
        border-top: 1px solid darkgray;
      }
      padding: 1rem;
      white-space: nowrap;
      border-bottom: 1px solid darkgray;
    }
  }
}

#navbar.open > ul {
  transition: all 0.3s;
  left: 0;
}

#navbar.open > header .navbar-toggler{
  span{
    transition: all 0.3s;
    &:first-child {
      transform: rotateZ(-40deg) translate(-2px, 8px);
    }
    &:nth-child(2){
      opacity: 0;
    }
    &:last-child {
      transform: rotateZ(40deg) translate(-2px, -8px);
    }
  }
}


#main-doc {
  margin-left: 0px;
  margin-top: 74px;
  section{
    border-bottom: 1px solid darkgray;
    padding: 1rem;
    header {
      margin-bottom: 0.5rem;
      font: {
        size: 2rem;
        weight: bold;
      }
    }
  }
  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  h4 + p {
    margin-left: 1rem;
  }

  code {
    background-color: #f0f0f0;
    color: red;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
  }

  ul {
    padding: 1rem 0;
    list-style: none;
  }

  #disclaimer {
    text-align: right;
    a {
      color: red;
      font-weight: bold;
      font-style: italic;
    }
  }

}

@media screen and (min-width: 900px){
  #navbar{
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    border: 1px solid darkgray;
    header{
      display: flex;
      .navbar-toggler{
        display:none;
      }
    }
    ul {
      position: relative;
      width: auto;
      left: 0;
    }
  }

  #main-doc{
    margin-left: 325px;
    margin-top: 0;

    section{
      padding-left: 2rem;
    }
  }
}

footer{
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 0.5rem;
  text-align: center;
  img{
    height: 18px;
    width: auto;
    vertical-align: text-bottom;
  }
}